.MuiGridListTile-root{
    
}

.msg_gallary_wrapper{
    
    border-radius: 8px;
}
.msg_gallary_wrapper_1{
width:105px
}

.msg_gallary_wrapper_2, .msg_gallary_wrapper_3{
    width:205px
    }


.msg_gallary_item{

}